<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		  <!-- Boostrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<title>MVC With Burgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/cats.js"></script>
	</head>
	<body>
 <section id="MainContent">
    <div class="jumbotron nobackground">

      <!-- - Added class  -->

      <div class="container background-container-color">

        <div class="row">
          <div class="col-sm-12">
            <h1> Eat Da Burger </h1>
			
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
          {{{ body }}}
		  create burger

          </div>
		 
         
		  <div class="col-sm-4">
  			EAT DA burger
          </div>
	 
	 	 <div class="col-sm-4">
  			Burger History
          </div>

			</div>
        </div>
      </div>
   


    <!-- Magical flying ducks -->
   
  </section>

   

		
	</body>
</html>


