h2 {
  color: #7c795d;
  font-family: "Trocchi", serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
  list-style-type: none;
}

.burgerToEat {
  cursor: pointer;
}

.image {
  background-image: url(../img/header.png);

  background-size: 100% 60%;
  background-repeat: no-repeat;
  height: 400px;
}

.addmargin {
  margin-top: 250px;
}
.correctHeight {
  min-height: 100vh;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
